<h2>Log In</h2>
<form action='/api/session/login' method='post'>
    Email: <input type='text' name='loginEmail' id='loginEmail'/>
    Password: <input type='password' name='loginPassword' id='loginPassword'/>
    <input type='submit' value='Log In'/>
</form>