<div>
    <h2>Sign Up</h2>
    <form id='signUpForm' method='post'>
        Name <input type='text' name='name' id='userName'>
        Email <input type='email' name='email' id='userEmail'>
        Password <input type='password' name='password' id='userPassword'>
        <input type='submit' value='Sign Up'>
    </form>
</div>

<div>
    <h2>Users available</h2>
    <table id='uTable'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{_id}}</td>
                <td>{{name}}</td>
                <td>{{email}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/users.js'></script>