<h3>Primer archivo Websocket</h3>
<form id="form">
    {{!-- Name: <input type="text" name="name" id="name"> --}}
    Price: <input type="number" name="price" id="price">
    <input type="submit" value="Send">
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>