<h2>Log In</h2>
<form action='/api/users/login' method='post'>
    Email: <input type='text' name='loginEmail' id='loginEmail'/>
    Password: <input type='password' name='loginPassword' id='loginPassword'/>
    <input type='submit' value='Log In'/>
</form>
<p>or</p>
<a href='/api/users/reset'>Reset your password</a>