<div>
    <h2>Reset your Password</h2>
    <form id='resetPassReqForm' method='post'>
        Request verification code email: <input type='string' name='resetPassRequest' id='resetPassRequest'/>
    <input type='submit' value='Request'/>
    </form>
</div>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/users.js'></script>