<div>
    <h2>Reset your Password</h2>
    <form id='resetPassForm' method='post'>
        Email: <input type='email' name='email' id='resetPassEmail'>
        Code: <input type='string' name='code' id='resetPassCode'>
        Password: <input type='password' name='password' id='resetPass'>
        <input type='submit' value='Reset'>
    </form>
</div>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/users.js'></script>